@inherits LayoutComponentBase

<main>
    @Body
</main>

<div class="bottom-nav">
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
        <span class="nav-icon"><i class="bi bi-house"></i></span>
        <span>Home</span>
    </NavLink>
    <NavLink class="nav-item" href="progress">
        <span class="nav-icon"><i class="bi bi-bar-chart"></i></span>
        <span>Progress</span>
    </NavLink>
    <NavLink class="nav-item" href="profile">
        <span class="nav-icon"><i class="bi bi-person"></i></span>
        <span>Profile</span>
    </NavLink>
</div>
